body {
  background-color: #F9FDEF;
  background-image: url("../img/floral.jpg");
}
::-webkit-input-placeholder {
   color: #D3D9EE;
}

:-moz-placeholder { /* Firefox 18- */
   color: #D3D9EE;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #D3D9EE;  
}

:-ms-input-placeholder {  
   color: #D3D9EE;  
}

header {
  font-family: 'Dekko', cursive;
  background-color: #75AEA7;
  outline: solid #F9FDEF; 
  min-width: 350px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 32px;
  color: #F9FDEF;
}

.to-do-item  {
  font-family: 'Dekko', cursive;
  position: relative;
  margin-top: 10px;
  background-color: #75AEA7;
  outline: solid #F9FDEF;
  min-width: 350px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  background-color: #75AEA7;
  outline: none;
  border: none;
  min-width: 300px;
  color: #F9FDEF;
  font-family: 'Dekko', cursive;
  font-size: 20px;
}

button {
  font-family: 'Ropa Sans', sans-serif;
  background-color: #BEF2DC;
  border: 1px solid #F9FDEF;
  color: #75AEA7;
  margin: 10px;
}

button:hover {
    background-color: #C79DB4;
    color: #F9FDEF;
}

button:focus {
  outline: none;
  background-color: #C79DB4;    
  color: #F9FDEF;
}

/*
 lavender #D3D9EE
 eggshell #F9FDEF
 seafoam #BEF2DC
 spruce #75AEA7
 rose #C79DB4*/

 body {
  background-color: #42a1c6;
}

/* Bubbles */
.bubbles {
  position: absolute;
  bottom: 0;
  z-index: 5;
  margin-right: 50px;
  background-color: white;
  border-radius: 50%;
  opacity: .50;
  width: 40px;
  height: 40px;
  animation: up 20s infinite;
}

.bubble-2 {
  left: 350px;
  animation: up 10s infinite;
}

.bubble-3 {
  left: 750px;
  opacity: .30;
  animation: up 25s infinite;
}

.bubble-4 {
  left: 1150px;
  animation: up 30s infinite;
}

.bubble-5 {
  left: 50px;
  animation: up 25s infinite;
}

.bubble-6 {
  left: 300px;
  opacity: .30;
  animation: up 15s infinite;
}

.bubble-7 {
  left: 670px;
  animation: up 20s infinite;
}

.bubble-8 {
  left: 1050px;
  opacity: .30;
  animation: up 15s infinite;
}

/* Swim Animation */
@keyframes swim {
  0% {
    transform: translateY(-50px) translateX(0) rotate(30deg);
  }
  25% { 
    transform: translateY(50px) translateX(250px) rotate(20deg);
  }
  50% {
    transform: translateY(100px) translateX(500px);
  }
  75% {
    transform: translateY(50px) translateX(850px) rotate(-20deg);
  }
  100% {
    transform: translateY(-170px) translateX(1200px) rotate(-40deg);
  }
}

/* Bubbles Animation */
@keyframes up {
  100% {
    transform: translateY(-800px);
  }
}